@CHARSET "UTF-8";

body {
  margin: 0;
}

.required-asterisk{
	font-size: 1.7em;
	vertical-align: -8px;
	line-height: 0;
	color: #BB0505;
}

.seperator:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 43%;
	border-bottom: 1px solid #ccc;
}

.seperator:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 43%;
	border-bottom: 1px solid #ccc;
}

.seperator {
	position: relative;
	display: block;
	margin: 0 0 20px 0;
	text-align: center;
	color: #666;
}

header {
  background-color: #e47911;
	background-image: -moz-linear-gradient(left, #f43f20, #e47911);
	background-image: -ms-linear-gradient(left, #f43f20, #e47911);
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f43f20), to(#e47911));
	background-image: -webkit-linear-gradient(left, #f43f20, #e47911);
	background-image: -o-linear-gradient(left, #f43f20, #e47911);
	background-image: linear-gradient(left, #f43f20, #e47911);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f43f20', endColorstr='#e47911', GradientType=1);
	position: relative;
}

header.collapsed:after {
	display: none;
}

header .container {
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
}

header #logo {
	color: #fff;
	zoom: .90;
}

header nav {
	float: right;
	position: relative;
}

header nav>ul {
	*zoom: 1;
	margin: 0;
}

header nav>ul:before,header nav>ul:after {
	display: table;
	content: "";
}

header nav>ul:after {
	clear: both;
}

header nav>ul:before,header nav>ul:after {
	display: table;
	content: "";
}

header nav>ul:after {
	clear: both;
}

header nav>ul>li {
	float: left;
	list-style-type: none;
	margin: 0 0 0 40px;
}

header nav>ul>li a {
	color: #ffe8e4;
	font-weight: bold;
	font-size: 18px;
	line-height: 60px;
}

header nav>ul>li a.highlight {
	background: rgba(0, 0, 0, 0.09);
	padding: 9px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

header nav>ul>li a:hover {
	color: #fff;
	text-decoration: none;
}

header nav ul>li .avatar {
	vertical-align: text-bottom;
	width: 22px;
	height: 22px;
	margin-right: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

header nav .dropdown .caret {
	margin-top: 29px;
	margin-left: 4px;
}

header nav .dropdown.open .dropdown-toggle {
	background: none;
}

header nav .dropdown.open .dropdown-menu {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	top: 100%;
	left: auto;
	right: -2px;
	border: none;
	-webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

header nav .dropdown.open .dropdown-menu .divider {
	height: 3px;
}

header h1 {
	margin: 0;
}

header .screenshot {
	-webkit-border-radius: 14px 14px 0 0;
	-moz-border-radius: 14px 14px 0 0;
	border-radius: 14px 14px 0 0;
}

header .screenshot img {
	display: block;
}

header:after {
	content: "";
	display: block;
	height: 6px;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(70, 82, 99, 0.12);
	z-index: 100;
}